# Build / temporary files
__pycache__
new
.old
filelist.txt
master
worker
idea.txt
.tasks.txt
binaries
.binaries
blender-projects
new-idea.txt
.DS_STORE
# Sensitive configuration and log files
config.ini
devices.json
logs.txt
